[Bb][Ii][Nn]*/
Debug*/
Release*/
core
*.[Mm][Kk]
*.[Tt][Aa][Gg][Ss]
*.[Nn][Cc][Bb]
*.[Ee][Xx][Ee]
*.[Dd][Ll][Ll]
*.[Tt][Uu]
*.[Dd][Bb]
*.session
*.clang
*.codelite
*.build*
/irrlicht/build/
/irrlicht/dist/
/build/
/dist/
/unit_tests/build/
/unit_tests/dist/